<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Inscribe a new Puppy for adoption!</h1>
    <form class="" action="/display" method="post">
    <h2> Name: <input type="text" name="name" value=""></h2>
    <h2> Breed: <input type="text" name="breed" value=""></h2>
    <h2> Age: <input type="text" name="age" value=""></h2>
      <p><input type="submit" id = "submit" value="Submit"></p>
    </form>




    <!-- <form method="post" action="/">
      <p>Enter the Puppy info:</p>
      <input name="name"></input>"Name"<br>
      <input name="breed"></input><br>
      <input name="age"></input><br>
      <button type="submit" value="submit">Submit</button>
    </form> -->

  </body>
</html>
